
@model IEnumerable<Software2.Models.Veterinario>

@{
    ViewBag.Title = "Médicos";
}
@{ 
    int total = 0;
}

@{
    ViewBag.Title = "Mascotas atendidas";
}

<h2 class="text-center">Mascotas atendidas</h2>

<table class="table table-bordered" id="tablaMedicos">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.apellido)
            </th>
            <th>
                Controles atendidos
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            
            total += item.mascotasAtendidas;

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.apellido)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.mascotasAtendidas)
                </td>

                <td>

                    <button class="btn btn-info">Info</button>

                </td>
            </tr>

        }
    </tbody>

</table>
@total