@model Software2.Models.Formula

@{
    ViewBag.Title = "Create";
}

<h2>Nueva Formula</h2>

<h4>Fecha: @Model.fecha</h4>    

<div class="col-xs-6">
    <h3 class="text-center">Mascota</h3>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mascota.nombre)
        </dt>
        <dd>
            @ViewBag.mascota.nombre
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mascota.raza)
        </dt>
        <dd>

            @ViewBag.mascota.razaFK.nombre
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mascota.color)
        </dt>
        <dd>
            @ViewBag.mascota.color
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mascota.edad)
        </dt>
        <dd>
            @ViewBag.mascota.edad
        </dd>
    </dl>
</div>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            <input type="hidden" name="mascotaID" id="mascotaID" value="@ViewBag.mascota.id" />
        </div>
        <div class="form-group hidden">
            @Html.LabelFor(model => model.fecha, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fecha, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                   
            </div>
        </div>

        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Agregar medicamentos" class="btn btn-primary" />
        </div>
        <div class="col-md-offset-2 col-md-10">
            <a href="@Url.Action("Index", "Formulas",new { id = ViewBag.mascota.id})" class="btn btn-default">
                Cancelar
            </a>
        </div>
       
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
