@model Software2.Models.Control

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Control</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anamnesis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anamnesis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.temperatura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.temperatura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mucosas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mucosas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fr)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tiempo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tiempo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.piel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.piel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.muscolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.muscolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ojos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ojos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cardiovascular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cardiovascular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respiratorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respiratorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.digestivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.digestivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.reproducor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.reproducor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nervioso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nervioso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.linfatico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.linfatico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_piel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_piel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_muscolo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_muscolo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_ojos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_ojos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_cardiovascular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_cardiovascular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_respiratorio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_respiratorio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_digestivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_digestivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_genito)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_genito)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_reproducor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_reproducor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_nervioso)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_nervioso)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_linfatico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_linfatico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.anormalidades)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anormalidades)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.problemas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.problemas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ayudas)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ayudas)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fianl)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fianl)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
