@model Software2.Models.PlanTerapeutico

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PlanTerapeutico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.monitoreo.historia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monitoreo.historia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.observacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
