@model Software2.Models.MedicamentosFormula

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MedicamentosFormula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Formula.mascotaID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Formula.mascotaID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Medicamento.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Medicamento.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.frecuenciaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.frecuenciaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dosis)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
