@model IEnumerable<Software2.Models.MedicamentosFormula>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Formula.mascotaID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Medicamento.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.frecuenciaHora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dosis)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Formula.mascotaID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Medicamento.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.frecuenciaHora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dosis)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
