@model IEnumerable<Software2.Models.Medicamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expresion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.viaSuministro)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expresion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.viaSuministro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.medicamentoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.medicamentoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.medicamentoID })
        </td>
    </tr>
}

</table>
