@model Software2.Models.HistoriaClinica

@{
    ViewBag.Title = "Details";
}



<div>
    <h2>HistoriaClinica</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Propietario
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mascota.propietarioFK.nombre)
        </dd>

        <dt>
          Mascota
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mascota.nombre)
        </dd>
        <dt>
            Fecha de creación
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_creacion)
        </dd>

    </dl>
</div>

<div class="container">

    <table class="table table-bordered">
        
        <tr>
            <td>Fecha</td>
            <td>Diagnóstico final</td>
            <td></td>
        </tr>

        @foreach (var item in Model.controles)
        {
            <tr>
            <td>@item.fecha</td>
            <td>@item.fianl</td>
            <td><button class=" btn btn-info"  onclick="location.href='@Url.Action("Details","Control",new { id=item.id})'">Info</button></td>
        </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
