<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    @*<link href="~/content/datatables/css/jquery.datatables.min.css" rel="stylesheet" />*@
    <link href="~/content/datatables/css/datatables.bootstrap.min.css" rel="stylesheet" />
</head>
<body>
   
    <div class="wrapper">
        @if (Request.IsAuthenticated)
    {
        @Html.Partial("_Navbar-left")

}

        <div class="main-panel">
            <nav class="navbar navbar-fixed-top" style="background:#4caf50">
                <div>
                    <div class="navbar-header">
                        <div style="margin-right:0"> @Html.Partial("_LoginPartial")</div>

                        <button type="button" class="navbar-toggle" data-toggle="collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>


                    </div>



                </div>
            </nav>
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
            <footer class="footer">
                <div class="container-fluid">
                   
                    <p class="copyright pull-right">
                        &copy;
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        <a href="http://www.facebook.com">Visitanos</a>,Desarrollado por Byteam
                    </p>
                </div>
            </footer>
        </div>

    </div>

    


        @*<div class="navbar navbar-inverse navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Nombre de aplicación", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                            <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                            <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                        </ul>
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>
            </div>
            <div class="container body-content">

                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
                </footer>
            </div>*@





        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        @RenderSection("scripts", required: false)

        <script src="~/scripts/datatables/jquery.datatables.min.js"></script>
        <script src="~/scripts/datatables/datatables.bootstrap.min.js"></script>

        <script src="~/scripts/datatables.js"></script>
        <script src="~/Scripts/Views/material.min.js"></script>
        <script src="~/Scripts/Views/chartist.min.js"></script>
        <script src="~/Scripts/Views/arrive.min.js"></script>
        <script src="~/Scripts/Views/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/Scripts/Views/bootstrap-notify.js"></script>
        <script src="~/Scripts/Views/material-dashboard.js"></script>
        <script src="~/Scripts/Views/demo.js"></script>
        <script>
            $(document).ready(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>



    </body>
</html>
