<div class="sidebar" data-color="green" data-image="Images/sidebar-4.jpg">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | blue | green | orange | red"

        Tip 2: you can also add an image using data-image tag
    -->
    <div class="logo">
        <center>
            <img src="https://www.universidadesvirtuales.com.co/logos/original/logo-universidad-de-caldas.png" height="160px" width="160px" />
        </center>
        <a href="http://www.creative-tim.com" class="simple-text">
            Creative Tim 
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="@Url.Action("Index","Propietarios")"   >
                    
                    <i class="glyphicon glyphicon-user"></i>
                    <p>Propietarios</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Practicantes")">
                    <i class="material-icons">bubble_chart</i>
                    <p>Practicantes</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Medicos")">
                    <i class="material-icons">bubble_chart</i>
                    <p>Médicos</p>
                </a>
            </li>
            <li class="active">
                <a href="@Url.Action("Index","HistoriaClinica")">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    <p>Historias clinicas</p>
                </a>
            </li>
            <li>
               
                  
                      

                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                <i class="glyphicon glyphicon-folder-close">
                                </i> <p>Autorizaciones</p>
                            </a>
                        

                  
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="http://www.jquery2dotnet.com">Articles</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="http://www.jquery2dotnet.com">News</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="http://www.jquery2dotnet.com">Newsletters</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="http://www.jquery2dotnet.com">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
               
            </li>
            <li>
                <a href="@Url.Action("Index","Razas")">
                    <i class="material-icons">content_paste</i>
                    <p>Razas</p>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index","Especies")">
                    <i class="material-icons">library_books</i>
                    <p>Especies</p>
                </a>
            </li>
           
          
            <li>
                <a href="./maps.html">
                    <i class="material-icons">location_on</i>
                    <p>Maps</p>
                </a>
            </li>   
          
        </ul>
    </div>
</div>
