@model IEnumerable<Software2.Models.MonitoreoPacientes>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.monitoreo.historia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.temperatura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pulso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fr)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.peritaltismo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mucosas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.observacion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.monitoreo.historia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.temperatura)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pulso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.trc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.peritaltismo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mucosas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.observacion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
